<div class="page-header">
  <%= link_to scenes_path, class: 'btn btn-default' do %>
    <span class="glyphicon glyphicon-list-alt"></span>
    Back
  <% end %>
  <%= link_to edit_scene_path(@scene), class: 'btn btn-primary' do %>
    <span class="glyphicon glyphicon-pencil"></span>
    Edit
  <% end %>
  <h1>Show scene</h1>
</div>

<dl class="dl-horizontal">
  <dt>Name:</dt>
  <dd><%= @scene.name %></dd>

</dl>
