<div id="map" style='height: 500px; '></div>
<script type="text/javascript">


function initMap() {
  var pos;
 var map = new google.maps.Map(document.getElementById('map'), {
    center: pos,
    zoom: 12
  });

 var coords = <%= @coords_array.to_json.html_safe %>
 console.log(coords);

 for (var i = 0; i < coords.length; i++) {
        var data = coords[i];
        var myLatlng = new google.maps.LatLng(data.lat, data.lng);
        var icon_color = 'https://maps.google.com/mapfiles/ms/icons/green-dot.png';

        var marker = new google.maps.Marker({
            position: myLatlng,
            map: map,
            title: data.name,
            icon: icon_color
        });
      }

 // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }
  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');

}

    </script>
    <script async defer
      src="https://maps.googleapis.com/maps/api/js?v=3.22&key=AIzaSyDOINxdZoRY9KAdxlZhMEiWjLcdwofGqys&callback=initMap">
    </script>



